# ===== LOMY FOREX V1 =====

# Telegram
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

# Twelve Data
TWELVE_DATA_API_KEY=YOUR_TWELVE_DATA_API_KEY

# MongoDB
MONGODB_URI=YOUR_MONGODB_CONNECTION_STRING

# Render / Express
PORT=10000
